*{
    margin: 0;
    padding: 0;
}

.navbar{
    height:10vh;
}
div#graph{
    width:100%;
    flex-wrap: wrap;
    height: 90vh;
    display: flex;
    background-color: aliceblue;
}
.square{
    height: 30px;
    width: 30px;
    margin: 2px;
    border-radius: 3px;
    background-color: white;
    -moz-box-shadow:    inset 0 0 2px #000000;
    -webkit-box-shadow: inset 0 0 2px #000000;
    box-shadow:         inset 0 0 2px #000000;
    cursor: pointer;
}

.square:hover{
    background-color: purple;
    height: 24px;
    width:24px;
    margin:5px;
    transition: all 0.1s;
}